* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2F3A44;
    --secondary-color: #E4E7EB;
    --accent1-color: #2e62a1;
    --accent2-color: #1c1f24;
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p {
    margin: 16px;
    padding: 8px;
}

section {
    padding: 1rem 0;
}

article {
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    margin: 0 6px;
}

.socialmedia img {
    width: 30px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: none;
    width: 95px;
    margin-left: 1rem;
    height: auto;

}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #fff;
    padding: 1rem;
}

.hero article {
    position: absolute;
    bottom: 6rem;
    left: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 2px solid var(--accent2-color);
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

h2 {
    font-family: var(--heading-font);
    text-align: center;
    padding: 16px;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    margin: 0;
}

main {
    background-color: var(--secondary-color);
}

header.grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
}

nav ul {
    display: flex;
    justify-content: space-between;
    color: var(--accent2-color);
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav a {
    padding: 0.5rem 1.25rem;
    border: 1px solid var(--accent1-color);
    background-color: #fff;
    text-decoration: none;
    color: var(--accent2-color);
    font-weight: 500;
    font-size: 0.8rem;
    font-family: var(--heading-font);
    text-transform: uppercase;

}

header {

    background-color: var(--secondary-color)
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    align-items: center;
    gap: 1.5rem;

}

.adventure-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem;
    gap: 1rem;
}

.adventure-content img {
    width: 100%;
    border: 1px solid var(--accent1-color)
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}