* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    align-items: center;
}

header,
.grid,
footer {
    max-width: 848px;
    margin: 0 auto;
}

main {
    max-width: 840px;
    margin: 1rem auto;
    grid-column: 2/3;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

h1 {
    color: darkblue;
    border-bottom: #c42222;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
    margin: 1rem;

}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 250px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 54px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(86, 107, 107, 0.1);
    background-color: #e1f6f7;
    color: rgb(60, 65, 47);
}